*{
    padding: 0;
    margin:0;
}
.navbar{
    width:100%;
    height:60px;
    border-bottom: 1px solid pink;
    background-color: #000;
}
.nav-container{
    display:flex;
    float:right;
padding-top: 15px;
}
.act-1{
    padding-left: 5px;
}
.logo{
    width:60px;
    height:50px;
    color: black;
}
.list{
    font-size: 17px;
    color:#fff;
    text-decoration:none;
    list-style: none;
padding-left: 20px;
cursor: pointer;
padding-right:20px;
font-family: 'Poppins', sans-serif;

}
.container-section{
    width:100%;
    height:500px;
    background-color: #fff;
    font-family: 'Fredoka One', cursive;
    border-top: 1px solid #323232;
}
.p-1{
    text-align: center;
    font-size: 60px;
    color:#000;
    padding-top: 40px;
}
.p-2{
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.p-3{
    text-align: center;
    font-size: 20px;
    color:#000;
    padding-top: 20px;
    font-family: 'Manrope', sans-serif;
}
.skill-section{
    width:100%;
    height:1000px;
}
.container{
        
        
    height:500px;
}
.para{
padding-left: 30px;
    padding-top: 50px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;

}
.al{
    width:350px;
    display: flex;
    float: right;
    height:400px;
}
.par{
    padding-left: 30px;
    font-size:19px;
    font-family: 'Poppins', sans-serif;
}
.pa{
    padding-left: 30px;
    padding-bottom: 500px;
        font-size:19px;

        font-family: 'Poppins', sans-serif;
    
}
.row{
    height:400px;
    background-color: #fff;
}

.k{
    
    float:left;
    width:400px;
color:#000;
    height:300px;
padding-left:30px;
    
}

  .card-section{
    
      height:900px;
  }
  .ps{
      padding-top: 50px;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      color: #000;
  }
  .s{
    
    font-size: 18px;
    color: #000;
    font-family: 'Poppins', sans-serif;
  }


      

@media only screen and (max-width: 350px){

.AS{
padding-left: 150px;
}
.active{
padding-left: 150px;
}
}
@media(max-width:1300px){
.container{
height:700px;
}
.container-section{
    height:600px;
}
.card-section{
    flex-direction:column;
height:2000px;
}
.footer{
bottom:0;

}
}